/vendor/
node_modules/
npm-debug.log
yarn-error.log
.idea/

# Electra 1 specific
bootstrap/compiled.php
app/storage/

public/storage
public/hot

public_html/storage
public_html/hot

storage/*.key
.env
/.vagrant
.phpunit.result.cache
